{% load static %}
<style>
    .logo {
        max-height: 100px;
    }

    i {
        font-size: 1.5em;
    }

    nav .fa-solid {
        color: white;
    }

    nav
</style>
<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow-sm" style="background-color: #950952">
    <div class="container flex-row mw-100 justify-content-end">

        <div class="col d-flex flex-row justify-content-start">
            <!-- Navbar Logo -->
            <div class="col h-auto w-auto my-auto">
                <a title="Home" href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'images/candies.png' %}" alt="Slideshow" class="img-fluid logo"
                         style="max-width: 70px">
                </a>
            </div>
            <!-- Navbar Title (Sweet Tooth Cafe) -->
            <div class="col d-flex h-100 my-auto">
                <a title="Home" class="navbar-brand" href="{% url 'home' %}">
                    <h3 class="text-white">The Sweet Tooth Cafe</h3>
                </a>
            </div>
        </div>

        <!-- Toggle Button -->
        <div class="col me-0 d-flex flex-row justify-content-end w-auto">
            <button class="navbar-toggler my-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white">
                <i class="fa-solid fa-bars text-white" style="font-size: 1.6em"></i
                ></span>
            </button>

        </div>
        <!-- Navbar links (icons) -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row justify-content-evenly p-4">
                {# Search Form #}
                <li class="nav-item">
                    <div class="dropdown">
                        <form action="" class="d-flex">
                            <input class="form-control me-2 collapse" id="collapseSearch" type="search" placeholder="Search" aria-label="Search">
                            <button title="Search" class="nav-link btn" type="button" id="search-dropdown" data-bs-target="#collapseSearch" data-bs-toggle="collapse" aria-expanded="false" aria-controls="#collapseSearch" >
                                <i class="fa-solid fa-search"></i>
                            </button>
                        </form>
                    </div>
                </li>
                {# Link to home page #}
                <li class="nav-item">
                    <a title="Home" class="nav-link  {% if '/' == request.path %} active {% endif %}"
                       aria-current="page"
                       href="{% url 'home' %}">
                        <i class="fa-solid fa-home me-2"></i>
                    </a>
                </li>
                {# Link to store page #}
                <li class="nav-item">
                    <a title="Store" href="{% url 'store' %}"
                       class="nav-link{% if '/store' == request.path %} active {% endif %}"
                       aria-current="page">
                        <i class="fa-solid fa-store me-2"></i>
                    </a>
                </li>
                {# Link to categories page #}
                <li class="nav-item">
                    <a data-bs-target="collapse-categories" title="Categories" href="{% url 'categories' %}"
                       class="nav-link {% if '/wishlist' == request.path %} active {% endif %}">
                        <i class="fa-solid fa-bars me-2"></i>
                    </a>
                </li>

                {# Link to deals page #}
                <li class="nav-item">
                    <a title="Deals" href="{% url 'deals' %}"
                       class="nav-link{% if '/deals' == request.path %} active {% endif %}" aria-current="page">
                        <i class="fa-solid fa-tag me-2"></i>
                    </a>
                </li>

                {# Link to wishlist page #}
                <li class="nav-item">
                    <a title="Wish List" class="nav-link {% if '/wishlist' == request.path %} active {% endif %}"
                       aria-current="page"
                       href="{% url 'wishlist' %}">
                        <i class="fa-solid fa-heart me-2"></i>
                    </a>
                </li>

                {# Link to Cart #}
                <li class="nav-item">
                    <a title="Cart" class="nav-link {% if '/cart' == request.path %} active {% endif %}"
                       aria-current="page"
                       href="{% url 'cart' %}">
                        <i class="fa-solid fa-cart-shopping me-2"></i>
                    </a>
                </li>
                {# Link to settings page #}
                <li class="nav-item">
                    <a title="Settings" class="nav-link {% if '/settings' == request.path %} active {% endif %}"
                       aria-current="page"
                       href="{% url 'settings' %}">
                        <i class="fa-solid fa-tools me-2"></i>
                    </a>
                </li>

                {# Link to login/logout button #}
                <li class="nav-item ms-5">
                    <a title="Logout" class="nav-link" href="#" role="button">
                        <i class="fa-solid fa-power-off me-2"></i>
                    </a>
                </li>

            </ul>


        </div>
        <div class="row collapse collapse-categories" id="categoriesToggler">
            Filter 1
            Filter 2
            Filter 3
        </div>

    </div>
</nav>
