{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Address Form
{% endblock %}

{% block content %}
	<section class="mw-100 mh-100">
        <div class="card-img-top mw-100 mh-100">
            <img class="img-fluid" src="{% static 'images/yes-and-studio-XVYz_QeiEBw-unsplash.jpg' %}" alt="">
        </div>
        <div class="card-img-overlay bg-white shadow-lg p-3 d-flex flex-row justify-content-evenly align-items-center">
            Data
        </div>
    </section>
{% endblock %}