{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}
    All Candy
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <style>
        .brand-link a {
            color: black;
        }

        .brand-link a:hover {
            color: #D33665;

        }


    </style>
    {% include 'partials/filters.html' %}
    <!-- loop that displays candy -->
    <!-- Candy section -->
    <section class="w-auto my-5 h-auto container mx-auto">
        <div class="row w-auto d-flex flex-row justify-content-evenly">
            <!-- Loop through candy table -->
            {% for candy in candies %}
                <!-- Product Card -->
                <div class="card p-3 m-2  w-25 h-auto bg-white shadow-lg" style="min-width: 250px">
                    <!-- Candy Image -->
                    <div class="card-img">
                        <img src="{{ candy.image.url }}" alt="Product Image" class="img-fluid w-100 h-auto">
                    </div>
                    <!-- Card title and text -->
                    <div class="card-body text-center">
                        <div class="card-title w-100 h-auto">
                            <h6>{{ candy.flavour }}</h6>
                        </div>
                        <div class="brand-link card-text w-auto h-auto">

                            <a title="View {{ candy.brand | capfirst }} products" class="text-decoration-none card-link"
                               style="font-size: .8em;"
                               href="{% url 'brand_categories' candy.brand %}">{{ candy.brand | capfirst }}</a>
                            <p class="fw-bold" style='font-size: 1.1em'>Ksh. {{ candy.price | intcomma }}</p>
                        </div>
                        <!-- Card links -->
                        <div class="card-link d-flex flex-row justify-content-evenly mt-2" style="font-size: .9em">
                            <!-- View Product -->
                            <a href="{% url 'product_details' candy.id %}" class="" title="View Product">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <!-- Add item to cart -->
                            <a href="" class="" title="Add to Cart">
                                <i class="fa-solid fa-shopping-cart"></i>
                            </a>
                            <!-- Add item to wishlist -->
                            <a href="" class="" title="Add to Wish List">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include 'partials/footer.html' %}
{% endblock %}