{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}
    All Candy
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <!-- Filters section -->
    <section class="w-auto h-auto my-5 container mx-auto d-flex flex-row justify-content-evenly">
        <!-- Order by -->
        <div class="">
            <button class="btn form-control dropdown-toggle" id="dropdownMenuButton1">Brand</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                <li><a href="" class="dropdown-item"></a></li>
            </ul>
        </div>
        <div class="">
            <button class="btn form-control">Category</button>
        </div>
        <div class="">
            <button class="btn form-control">Flavour</button>
        </div>
        <div class="">
            <button class="btn form-control d-flex flex-row justify-content-evenly">
                <span><i class="fa-solid fa-arrow-down me-2" style="font-size: .8em"></i></span>
                <span>Price</span>
            </button>
        </div>
        <div class="">
            <form action="" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark">Search</button>
            </form>
        </div>

        <!-- Search bar -->

    </section>

    <!-- loop that displays candy -->
    <!-- Candy section -->
    <section class="w-auto my-5 h-auto container mx-auto">
        <div class="row w-auto d-flex flex-row justify-content-evenly">
            <!-- Loop through candy table -->
            {% for candy in candies %}
                <!-- Product Card -->
                <div class="card p-3 m-2  w-25 h-auto bg-white shadow-lg" style="min-width: 250px">
                    <!-- Candy Image -->
                    <div class="card-img">
                        <img src="{{ candy.image.url }}" alt="Product Image" class="img-fluid w-100 h-auto">
                    </div>
                    <!-- Card title and text -->
                    <div class="card-body text-center">
                        <div class="card-title w-100 h-auto">
                            <h6>{{ candy.flavour }}</h6>
                        </div>
                        <div class="card-text w-auto h-auto">
                            <p class="text-muted" style="font-size: .8em">{{ candy.brand | capfirst }}</p>
                            <p class="fw-bold" style='font-size: 1.1em'>Ksh. {{ candy.price | intcomma }}</p>
                        </div>
                        <!-- Card links -->
                        <div class="card-link d-flex flex-row justify-content-evenly mt-2" style="font-size: .9em">
                            <!-- View Product -->
                            <a href="" class="" title="View Product">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <!-- Add item to cart -->
                            <a href="" class="" title="Add to Cart">
                                <i class="fa-solid fa-shopping-cart"></i>
                            </a>
                            <!-- Add item to wishlist -->
                            <a href="" class="" title="Add to Wish List">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include 'partials/footer.html' %}
{% endblock %}