{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Deals {% endblock %}



{% block content %}

    {% include 'partials/navbar.html' %}

    <style>
        .facons i:hover {
            color: black !important;
        }
        .facons i {
            color: #D33665;
        }
    </style>

    <section class="p-3 m-3 text-center">
        <h1>Sweet Deals</h1>
        <p class="lead fs2">Here are some of the latest and sweetest deals</p>
    </section>

    <section class="mt-1">
        <div class="container d-flex justify-content-evenly">
            <div class="card p-4 d-flex flex-row justify-content-evenly shadow-lg" >
                <div class="card-img row mx-3">
                    <img src="{% static 'images/yes-and-studio-XVYz_QeiEBw-unsplash.jpg' %}" alt="Image">
                </div>

                <div class="card-body row w-100">
                    <div class="card-title row">
                        <h3>Chocolate</h3>
                        <span class="text-muted" style="font-size: .7em">Cadbury</span>

                    </div>
                    <div class="card-text row">
                        <span class="row d-flex flex-row justify-content-evenly w-auto" style="font-size: .8em">
                            <span class="col text-decoration-line-through w-100"> Ksh. 300</span>
                            <span class="col w-auto" style="color: #079f45">Ksh.250</span>
                            <span class="col w-auto" style="color: #D33665">33% off</span>
                        </span>
                    </div>
                    <div class="facons card-text row d-flex flex-row justify-content-evenly my-3">
                        <span class="col">
                            <a title="View Item" href="#" class="text-decoration-none text-black">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </span>
                        <span class="col">
                            <a title="Add to Wishlist" href="#" class="text-decoration-none text-black">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </span>
                        <span class="col">
                            <a title="Add to Cart" href="#" class="text-decoration-none text-black">
                                <i class="fa-solid fa-plus-square"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/footer.html' %}
{% endblock %}

