{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
    <style>
        body {
            background-image: url("/static/images/yes-and-studio-XVYz_QeiEBw-unsplash.jpg");
            -webkit-background-size: contain;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }

        button:hover {
            background-color: white !important;
            border-color: #D33665 !important;
            color: #D33665 !important;
        }

        button {
            background-color: #D33665 !important;
            color: white !important;

        }

    </style>
    <div class="container bg-cover vw-100 vh-100 ">

        <!-- Sign in Card -->
        <div class="container card shadow-lg bg-white p-5 m-auto mt-5 w-75 h-auto" style="max-width: 500px">

            <div class="row">
                <div class="row card-img w-100 mx-auto justify-content-evenly pb-2">
                    <img src="{% static 'images/sweets.png' %}" alt="" class="w-auto img-fluid "
                         style="max-width: 75px; max-height: 75px;">
                </div>
                <div class="row w-100 mx-auto">
                    <span class="ms-2 fs-4 text-center">Sweet Tooth Cafe</span>
                </div>
                <div class="card-title text-center mb-1">
                    <span class="fs-5">Log in</span>
                </div>

                <!-- Login with third parties -->
                <div class="row justify-content-evenly w-auto mx-auto p-3">
                    <div class="col justify-content-evenly">
                        <a title="Google" href="#" class="text-decoration-none">
                            <i class="fa-brands fa-google border-dark p-2"></i>
                        </a>
                    </div>
                    <div class="col justify-content-evenly">
                        <a title="Instagram" href="#" class="text-decoration-none">
                            <i class="fa-brands fa-instagram border-dark p-2"></i>
                        </a>
                    </div>
                    <div class="col justify-content-evenly">
                        <a title="Facebook" href="#" class="text-decoration-none">
                            <i class="fa-brands fa-facebook p-2"></i>
                        </a>
                    </div>

                </div>
            </div>

            <!-- Login Form -->
            <div class="row w-100 mx-auto">
                <form action="" method="post" class="w-100 px-5 py-1" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ login_form | crispy }}
                    <div class="w-50 mx-auto pt-3">
                        <button class="w-100 btn btn-outline-danger">Log in</button>
                    </div>

                </form>

            </div>

            <!-- Link back to home page -->
            <div class="row w-auto mx-auto mt-3">
                <a title="Go back home" href="{% url 'home' %}" class="text-decoration-none text-muted text-centerß"><i
                        class="fa-solid fa-home"></i></a>
            </div>
        </div>

    </div>


{% endblock %}

